<h1>Llyod's Pest Control </h1>

<form>
<div class="container">
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="col-md-8">
        <h3> New Technician</h3>

          <label for="name">technician name:</label><br>
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="technician_id" placeholder="Name">
          <input type="submit" value="Submit">
        </div>
      </div>
    </div>
  </div>
</form>
<form>
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="col-md-8">
         <h3> New Location</h3>

          <label for="name">Location name</label><br>
          <input type="text" class="form-control" id="location_id" placeholder="Location">
          <label for="city">City</label><br>
          <input type="text" class="form-control" city="city" placeholder="City">
          <input type="submit" value="Submit">
        </div>
      </div>
    </div>
  </div>
</form>
