<body>
<h2 style="text-align: center;">Work Orders </h2>

<div class="container border py-3 my-3">
  <div class="row">
    <div class="col-xs-12 col-md-2"> Time </div>
  <% @technicians.each do |technician| %>
    <div class="col-xs-12 col-md-2"><%= technician.name %></div>
  <% end %>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-2"> 7:00 am </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2"> 8:00 am </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2"> 9:00 am </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2"> 10:00 am </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2"> 11:00 am </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-2"> 12:00 pm </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2"> 2:00 pm </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2"> 2:00 pm </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2"> 3:00 pm </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2"> 4:00 pm </div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
    <div class="col-xs-12 col-md-2">1</div>
  </div>
</div>
</body>
