<h1>Llyods Pest Control </h1>


<%# Beginning new technician and location form %>
<div class="container">
<div class="col-md-12">
    <div class="col-md-4">
      <div class="col-md-8">
        <h3> New Technician</h3>
        <form>
          <label for="fname">First name:</label><br>
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="technician" placeholder="Name">
          <input type="submit" value="Submit">
        </form>

        <h3> New Location</h3>
        <form>
          <label for="fname">Location name</label><br>
          <input type="text" class="form-control" id="location" placeholder="Location">
          <label for="fname">City</label><br>
          <input type="text" class="form-control" city="city" placeholder="City">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
