<%# beginning Bootstrap calender %>
<div class="container">
  <div class="timetable-img text-center">
      <img src="img/content/timetable.png" alt="">
  </div>
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="bg-light-gray">
          <th class="text-uppercase">Time </th>
          <th class="text-uppercase">tech1</th>
          <th class="text-uppercase">tech2</th>
          <th class="text-uppercase">tech3</th>
          <th class="text-uppercase">tech5</th>
          <th class="text-uppercase">tech6</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="align-middle">09:00am</td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>

          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>

        </tr>

        <tr>
          <td class="align-middle">10:00am</td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>

        </tr>

        <tr>
          <td class="align-middle">11:00am</td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
        </tr>

        <tr>
          <td class="align-middle">12:00pm</td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
        </tr>

        <tr>
          <td class="align-middle">01:00pm</td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle">02:00pm</td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle">03:00pm</td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle">04:00pm</td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
          <td>
            <span class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span>
            <div class="margin-10px-top"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%# Ending calender %>
<form>
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="col-md-8">
         <h3> New Location</h3>

          <label for="name">Location name</label><br>
          <input type="text" class="form-control" id="location_id" placeholder="Location">
          <label for="city">City</label><br>
          <input type="text" class="form-control" city="city" placeholder="City">
          <input type="submit" value="Submit">
        </div>
      </div>
    </div>
  </div>
</form>
